<a href="https://colab.research.google.com/github/ProjectFace2/reservoirOutflow/blob/master/ParsingPdf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:

import camelot

file="./dR15-08-2019.pdf"
tables = camelot.read_pdf(file,pages="1-end")

# tables[3].to_excel("rainfall.xlsx",sheet_name='Sheet2')
# tables[6].to_excel("reservoir.xlsx",sheet_name='Sheet2')
print(tables.shape)

# #for rainfall
# import pandas as pd
# data=pd.read_excel("rainfall.xlsx")
# data.fillna('empty', inplace=True)
# rain=input("enter the rain_area name")
# df1 = data[data[1].str.contains(rain)]
# df1.to_csv('kodagu.csv', mode='a', index = False, header=None)


# #for reservoir
# data=pd.read_excel("reservoir.xlsx")
# data.fillna('empty', inplace=True)
# dam=input("enter the dam name")
# df1 = data[data[1].str.contains(dam)]
# df1.to_csv('harangi.csv', mode='a', index = False, header=None)

AttributeError: ignored

In [0]:
!pip install tabula-py

Collecting tabula-py
  Downloading https://files.pythonhosted.org/packages/53/a4/66add528eca00398af98f181772006750019eb9f2d68c7c6fdd53ba661c5/tabula_py-2.1.0-py3-none-any.whl (10.4MB)
     |████████████████████████████████| 10.4MB 2.6MB/s
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.0.3)
Collecting distro
  Downloading https://files.pythonhosted.org/packages/25/b7/b3c4270a11414cb22c6352ebc7a83aaa3712043be29daa05018fd5a5c956/distro-1.5.0-py2.py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.18.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.25.3->tabula-py) (1.12.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.5.0 tabula-py-2.1.0

In [0]:
import tabula
 
file = "./dR15-08-2019.pdf"
 
tables = tabula.read_pdf(file, pages = "all", multiple_tables = True,pandas_options={'header': None})

Got stderr: May 26, 2020 6:14:30 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:30 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldItalicMT'
May 26, 2020 6:14:30 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:30 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
May 26, 2020 6:14:32 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:32 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldItalicMT'
May 26, 2020 6:14:32 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:32 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
May 26, 2020 6:14:34 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:34 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldItalicMT'
May 26, 2020 6:14:34 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:34 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
May 26, 2020 6:14:35 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPSMT are not implemented in PDFBox and will be ignored
May 26, 2020 6:14:35 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:35 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldItalicMT'
May 26, 2020 6:14:35 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:35 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
May 26, 2020 6:14:35 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPSMT are not implemented in PDFBox and will be ignored
May 26, 2020 6:14:36 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:36 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldItalicMT'
May 26, 2020 6:14:36 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:36 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
May 26, 2020 6:14:36 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPSMT are not implemented in PDFBox and will be ignored
May 26, 2020 6:14:36 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:36 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:37 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:37 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:37 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:37 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:37 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:37 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:37 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:37 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:38 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:38 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:38 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:38 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:39 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:39 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:39 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:39 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:40 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:40 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:40 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:40 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:40 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:40 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:41 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:41 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:41 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:41 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:42 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:42 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:42 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:42 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:43 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:43 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:43 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:43 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:44 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:44 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:44 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:44 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:45 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:45 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:45 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:45 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:45 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:45 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:46 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:46 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:46 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:46 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:46 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldItalicMT'
May 26, 2020 6:14:46 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
May 26, 2020 6:14:47 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:47 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:47 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldItalicMT'
May 26, 2020 6:14:47 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
May 26, 2020 6:14:47 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:47 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldItalicMT'
May 26, 2020 6:14:47 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:47 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldItalicMT'
May 26, 2020 6:14:47 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:47 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldItalicMT'
May 26, 2020 6:14:48 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:48 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldItalicMT'
May 26, 2020 6:14:48 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:48 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldItalicMT'
May 26, 2020 6:14:48 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:48 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldItalicMT'
May 26, 2020 6:14:49 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:49 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldItalicMT'
May 26, 2020 6:14:49 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:49 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:49 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldItalicMT'
May 26, 2020 6:14:49 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:49 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:50 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:50 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:50 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:50 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:51 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:51 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:51 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:51 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:51 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:52 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:52 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:52 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:52 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:52 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:53 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:53 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:53 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:54 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:54 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:54 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:54 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:55 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:55 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:55 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:55 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:55 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
May 26, 2020 6:14:56 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
May 26, 2020 6:14:56 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
May 26, 2020 6:14:56 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored

In [0]:
len(tables)

10

In [0]:
import pandas as pd
import numpy as np
x=tables[len(tables)-1]
y = pd.DataFrame()

In [0]:
df=x
df=df.drop(df.index[0:11])

In [0]:
df

      0  ...       3
11    1  ...     NaN
12  NaN  ...   14970
13    2  ...     NaN
14  NaN  ...    6536
15    3  ...     NaN
16  NaN  ...    4034
17    4  ...     NaN
18  NaN  ...    7523
19    5  ...     NaN
20  NaN  ...   25698
21    6  ...     NaN
22  NaN  ...   41512
23    7  ...     NaN
24  NaN  ...   46240
25    8  ...     NaN
26  NaN  ...    3223
27    9  ...     NaN
28  NaN  ...   58785
29   10  ...     NaN
30  NaN  ...   52788
31   11  ...     NaN
32  NaN  ...   27325
33   12  ...     NaN
34  NaN  ...  545638
35   13  ...     NaN
36  NaN  ...  571745

[26 rows x 4 columns]

In [0]:
df[1::2].drop(columns=[0,1],axis=1)
df[::2].drop(columns=[0,2,3],axis=1)
fr=[df[::2].drop(columns=[0,2,3],axis=1),df[1::2].drop(columns=[0,1],axis=1)]
pd.merge(left=df[::2].drop(columns=[0,2,3],axis=1), right=df[1::2].drop(columns=[0,1],axis=1), left_index=True,right_index=True)

Empty DataFrame
Columns: [1, 2, 3]
Index: []

In [0]:
left=df[::2].drop(columns=[0,2,3],axis=1)
right= df[1::2].drop(columns=[0,1],axis=1)

In [0]:
left.head()

               1
11  Linganamakki
13          Supa
15        Varahi
17       Harangi
19     Hemavathi

In [0]:
left['2']=right.iloc[:,1]

In [0]:
left['3']=right[3]

In [0]:
right.iloc[:,1]

12     14970
14      6536
16      4034
18      7523
20     25698
22     41512
24     46240
26      3223
28     58785
30     52788
32     27325
34    545638
36    571745
Name: 3, dtype: object

In [0]:
left

               1    2    3
11  Linganamakki  NaN  NaN
13          Supa  NaN  NaN
15        Varahi  NaN  NaN
17       Harangi  NaN  NaN
19     Hemavathi  NaN  NaN
21        K.R.S.  NaN  NaN
23        Kabini  NaN  NaN
25        Bhadra  NaN  NaN
27   Tungabhadra  NaN  NaN
29   Ghataprabha  NaN  NaN
31    Malaprabha  NaN  NaN
33       Almatti  NaN  NaN
35  Narayanapura  NaN  NaN

In [0]:
right

                                                    2       3
12  1819.00 1812.80 1815.35 -6.20 151.75 131.75 13...   14970
14  1849.92 1840.50 1826.66 -9.42 145.33 134.64 11...    6536
16  1949.50 1921.56 1941.76 -27.95 31.10 16.89 26....    4034
18  2859.00 2857.87 2856.54 -1.13 8.07 7.69 7.24 9...    7523
20  2922.00 2921.55 2919.82 -0.45 35.76 35.33 33.6...   25698
22  124.80 124.80 121.43 0.00 45.05 45.05 40.48 10...   41512
24  2284.00 2282.81 2278.02 -1.19 15.67 14.90 12.0...   46240
26  2158.00 2154.93 2156.00 -3.07 63.04 59.23 60.5...    3223
28  1633.00 1633.00 1631.63 0.00 100.86 92.36 87.1...   58785
30  2175.00 2175.00 2175.00 0.00 48.98 42.50 42.50...   52788
32  2079.50 2078.10 2065.02 -1.40 34.35 27.30 12.4...   27325
34  1704.81 1700.94 1704.74 -3.87 119.26 95.42 114...  545638
36  1615.00 1605.72 1614.12 -9.28 26.14 13.36 23.4...  571745

In [0]:
m=right[right.index==18][2]

In [0]:
type(list(m))

list

In [0]:
list(m)
1,5,9,10

['2859.00 2857.87 2856.54 -1.13 8.07 7.69 7.24 95 0 7665 3200 14046']

In [0]:
x.head(11)

      0  ...           3
0   NaN  ...         NaN
1   NaN  ...         NaN
2   Sl.  ...  Cumulative
3   NaN  ...         NaN
4   No.  ...   out flows
5   NaN  ...        from
6   NaN  ...         NaN
7   NaN  ...  01.06.2019
8   NaN  ...         NaN
9   NaN  ...      (mcft)
10    1  ...          15

[11 rows x 4 columns]

In [0]:
# x[x.index==(x[x[1]=='Harangi'].index+1).values[0]]
# (x[x[1]=='Harangi'].index+1).values[0]
todayVal = list(x[x.index==(x[x[1]=='Harangi'].index+1).values[0]][2])

In [0]:
todayVal=todayVal[0].split()
len(todayVal)

12

In [0]:
 d = list(x.head(1)[2])[0].split()[-1].split()[0].replace('.',' ').split()
 date = np.datetime64(d[-1]+"-"+d[1]+"-"+d[0]) 
date

numpy.datetime64('2019-08-15')

In [0]:
needed = [1,5,9,10]
result =[todayVal[i] for i in needed]
result.insert(0,date)
result

[numpy.datetime64('2019-08-15'), '2857.87', '7.69', '7665', '3200']

In [0]:
pd.DataFrame(columns=['reservoirLevel', 'StorageCapacity', 'inflow', 'outflow'],index=[(None,np.datetime64)])

                                   reservoirLevel  ... outflow
(None, <class 'numpy.datetime64'>)            NaN  ...     NaN

[1 rows x 4 columns]

In [0]:
len(tables1)

3

In [0]:
x1=tables1[2]

In [0]:
# x1[x1.index==x1[x1[0]=='KODAGU'].index.values[0]+0]
print(x1[x1.index==x1[x1[0]=='KODAGU'].index.values[0]+0][7])
print(x1[x1.index==x1[x1[0]=='KODAGU'].index.values[0]+1][7])
print(x1[x1.index==x1[x1[0]=='KODAGU'].index.values[0]+2][7])

39    0.5
Name: 7, dtype: float64
40    0.5
Name: 7, dtype: float64
41    5.5
Name: 7, dtype: float64

In [0]:
!pip install tabula-py
import tabula
import pandas as pd
import numpy as np
list_of_files = ["./dR15-08-2019.pdf","./dr16-08-2019"]  #add all file name with path in this list
# now open csv file
# file header is as follows
# [date , reservoirLevel, StorageCapacity, inflow, outflow]
# pd.DataFrame(columns=[])
for file in list_of_files:
    tables = tabula.read_pdf(file, pages = "all", multiple_tables = True,pandas_options={'header': None})#pages=[1,2,..] incase u know page number
    x=tables[len(tables)-1]# choose table number wisely
    todayVal = list(x[x.index==(x[x[1]=='Harangi'].index+1).values[0]][2])
    todayVal=todayVal[0].split()
    needed = [1,5,9,10]
    result = [todayVal[i] for i in needed]
    d = list(x.head(1)[2])[0].split()[-1].split()[0].replace('.',' ').split()
    date = np.datetime64(d[-1]+"-"+d[1]+"-"+d[0])
    result.insert(0,date) 
    #  write variable 'result' as new row
# end of for loop
# save csv file

In [0]:
file = "./dR15-08-2019.pdf"
tables = tabula.read_pdf(file, pages = "all", multiple_tables = True,pandas_options={'header': None})
x=tables[len(tables)-1]
todayVal = list(x[x.index==(x[x[1]=='Harangi'].index+1).values[0]][2])
todayVal=todayVal[0].split()
needed = [1,5,9,10]
result = [todayVal[i] for i in needed]
d = list(x.head(1)[2])[0].split()[-1].split()[0].replace('.',' ').split()
date = np.datetime64(d[-1]+"-"+d[1]+"-"+d[0])
result.insert(0,date)

Int64Index([], dtype='int64')

In [0]:
filename = "./Districtwise_Rainfall.pdf"
tables1 = tabula.read_pdf(filename, pages = [2,3,4], multiple_tables = True,pandas_options={'header': None})
for table in tables1:
  x1 = table
  result = []
  if(x1[x1[0]=='KODAGU'].index.values.size!=0):
    for i in range(3):
      result.append(x1[x1.index==x1[x1[0]=='KODAGU'].index.values[0]+i][7].values[0])
    break
result.insert(0,date)
result

[numpy.datetime64('2019-08-15'), 0.5, 0.5, 5.5]